import logging
import datetime

# Bagel Voice configuration file
# Copy this to config.py and edit the values as appropriate

configuration = {
    # Root URL of the site install
    'root-url': 'https://example.com/voice/',
    # Directory to store the logs in
    'logdir': '/path/to/site/logs',
    
    # thread options
    'thread-split-age': datetime.timedelta(days=1),

    # notificaiton configurations
    'notify': {
        'max-retries': 5,
        'retry-interval': 2000,
        'mailto': {
            'from': 'Bagel Voice <vbx@example.com>',
        },
        'xmpp': {
            'jid': 'vbx@example.com',
            'server': 'jabber.example.com',
            'password': 'password goes here'
        },
    }
}

logging.basicConfig(
    filename='%s/%s' % (
        configuration['logdir'],
        datetime.datetime.now().strftime('vbx.log.%Y%m%d')),
    level=logging.INFO)
